# Exercícios SQL

## Instalando as bibliotecas

In [1]:
%pip install pandas pandasql sqlalchemy jupysql duckdb jupysql pandas matplotlib duckdb-engine ruff nbqa black isort polars pyarrow -q

Note: you may need to restart the kernel to use updated packages.

## Preparando conexão de um banco de dados em memória para podermos usar SQL nos csvs

In [2]:
import sqlite3

import polars as ps

conn = sqlite3.connect(":memory:")

%load_ext sql
%sql conn

## Criando os dataframes pandas e registrando como tabelas no SQL em memório

In [3]:
books_df = ps.read_csv("csv/Books.csv", ignore_errors=True).to_pandas()
ratings_df = ps.read_csv("csv/Ratings.csv", ignore_errors=True).to_pandas()
users_df = ps.read_csv("csv/Users.csv", ignore_errors=True).to_pandas()

books_df.to_sql("books", conn)
ratings_df.to_sql("ratings", conn)
users_df.to_sql("users", conn)

278858

## Verificando os dataframes pandas

In [4]:
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991.0,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004.0,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996.0,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000.0,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [5]:
ratings_df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [6]:
users_df

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

## Exemplo de célular para query com %%sql na primeira linha da célula

In [7]:
%%sql
SELECT
  *
FROM
  books
LIMIT
  5

Running query in 'Connection'

+-------+------------+----------------------------------------------------------------------------------------------------+----------------------+---------------------+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
| index |    ISBN    |                                             Book-Title                                             |     Book-Author      | Year-Of-Publication |         Publisher          |                                                              Image-URL-S                                                              |                                                              Image-URL-M                                                              |                                                              Image-URL-L                                                              |
+-------+------------+----------------------------------------------------------------------------------------------------+----------------------+---------------------+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+
|   0   | 0195153448 |                                        Classical Mythology                                         |  Mark P. O. Morford  |        2002.0       |  Oxford University Press   | <a href=http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg>http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg>http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg>http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg</a> |
|   1   | 0002005018 |                                            Clara Callan                                            | Richard Bruce Wright |        2001.0       |   HarperFlamingo Canada    | <a href=http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg>http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg>http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg>http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg</a> |
|   2   | 0060973129 |                                        Decision in Normandy                                        |     Carlo D'Este     |        1991.0       |      HarperPerennial       | <a href=http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg>http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg>http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg>http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg</a> |
|   3   | 0374157065 | Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It |   Gina Bari Kolata   |        1999.0       |    Farrar Straus Giroux    | <a href=http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg>http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg>http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg>http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg</a> |
|   4   | 0393045218 |                                       The Mummies of Urumchi                                       |   E. J. W. Barber    |        1999.0       | W. W. Norton & Company | <a href=http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg>http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg>http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg</a> | <a href=http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg>http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg</a> |
+-------+------------+----------------------------------------------------------------------------------------------------+----------------------+---------------------+----------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+

## Questões

### 1. Listar todos os livros publicados por uma editora específica:

### 2. Encontrar os 10 livros mais bem avaliados:

### 3. Contar o número de avaliações feitas por cada usuário:

### 4. Listar os livros que receberam mais de 100 avaliações:

### 5. Encontrar a média de idade dos usuários que avaliaram um livro específico:

### 6. Listar os 5 autores com mais livros cadastrados:

### 7. Encontrar a quantidade de livros publicados por ano:

### 8. Listar os usuários que avaliaram mais de 50 livros:

### 9. Encontrar a média de avaliações por editora:

### 10. Listar os livros que possuem mais de uma edição (ISBN diferente) com o mesmo título: